<h1>Welcome Email from Batch 250 store</h1>

<p><%= "Hi\n, Good to see you here, Please use the below code to avail 30% disscount on your first purchase.\n CODE : XZERY5612MTY \n Thanks,\n
Store Manager."%>
</p>
