<div class="btn-group btn-group-justified" role="group" aria-label="...">
  <div class="btn-group" role="group">
    <a href="/users" type="button" class="btn btn-default">Home</a>
  </div>
  <div class="btn-group" role="group">
    <a href="/users/new" type="button" class="btn btn-primary">New Registration</a>
  </div>
  <div class="btn-group" role="group">
  	<%= link_to "Logout", users_logout_path, :class=>"btn btn-default" %>
  </div>
   <div class="btn-group" role="group">
  	<%= current_user_email %>
  </div>
</div>

<!-- nikhilatgur@gmail.com
pankajkhanna1@gmail.com
sidharthgaur01@gmail.com
amansingh.00321@gmail.com -->